<a href="https://colab.research.google.com/github/KatherineCao-AI/python_learning/blob/main/OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class MyClass:
  x = 5

In [ ]:
p1 = MyClass()

In [ ]:
print(p1.x)

5

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
p2=Person("Katherine", 9)

In [ ]:
print(p2.name)
print(p2.age)

Katherine
9

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x7b07d64ef050>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
p1.age = 40
print(p1.age)

40

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

class Student(Person):
  pass

y = Student("Mike", "Olsen")
y.printname()

John Doe
Mike Olsen

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

y = Student("Mike", "Olsen")
y.printname()

Mike Olsen

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

y = Student("Mike", "Olsen")
y.printname()

Mike Olsen

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019
    self.studentID = '465151648'

  def printID(self):
    print(self.studentID)

y = Student("Mike", "Olsen")
y.printname()

print(y.graduationyear)
print(y.studentID)
y.printID()

Mike Olsen
2019
465151648
465151648

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year
    self.studentID = '465151648'

  def printID(self):
    print(self.studentID)

y = Student("Mike", "Olsen", 2022)
y.printname()

print(y.graduationyear)

print(y.studentID)
y.printID()

Mike Olsen
2022
465151648
465151648